<ion-view title="Dashbord-teacher">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Skole</h2>
                <p>Navn</p>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item ui-sref="lekserPMinnelse">Lekser påminnelse</ion-item>
            <ion-item>Item 2</ion-item>
            <ion-item ui-sref="login">Logg ut</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
