<ion-view title="Lekser påminnelse">
    <ion-content padding="true" class="center" style="background-color: #f1f4ed">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Input</span>
                <textarea placeholder="Skriv" row="4" cols="50"> </textarea>
            </label>
        </form>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Velg klasse</span>
                <select>
                    <option>1STA-norsk</option>
                    <option>1STB-historie</option>
                </select>
            </label>
        </form>
        <div class="spacer" style="height: 10px;"></div>
            <a ui-sref="tabsteacher.dashbord2" class="button button-balanced button-block ">Send</a>
            <a ui-sref="tabsteacher.dashbord2" class="button button-assertive button-block ">Avbryt</a>
    </ion-content>
</ion-view>
