<ion-view title="Lekser påminnelse">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Velg klasse</span>
                <select>
                    <option>1STA-norsk</option>
                    <option>1STB-historie</option>
                </select>
            </label>
        </form>
        <div class="spacer" style="height: 100px;"></div>
        <div class="button-bar">
            <a ui-sref="tabsteacher.dashbord2" class="button button-balanced button-block ">Send</a>
            <a ui-sref="tabsteacher.dashbord2" class="button button-assertive button-block ">Avbryt</a>
        </div>
    </ion-content>
</ion-view>